<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <div id="chat">
        <ul id="messages">
            <li v-for="message in messages">{{ message }}</li>
        </ul>

        <form @submit="send">
            <input v-model="message" type="text">
            <button>Send</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script>
        var socket = io();

        new Vue({
          el: '#chat',

          data() {
            return {
              messages: [],
              message: '',
            }
          },

          mounted() {
            socket.on('chat.message', function(message) {
              console.log(message);
              this.messages.push(message);
            }.bind(this));
          },

          methods: {
            send: function(e) {
              socket.emit('chat.message', this.message);
              this.message = '';
              e.preventDefault();
            }
          }
        })
    </script>
</body>
</html>